<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<article class="media">
<!--    <figure class="media-left">-->
<!--        <p class="image is-64x64">-->
<!--            <img src="https://bulma.io/images/placeholders/128x128.png">-->
<!--        </p>-->
<!--    </figure>-->
    <div class="media-content">
        <div class="field" >
            <p class="control" style=" width:400px;">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
        </div>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <a class="button is-info">댓글등록</a>
                </div>
            </div>
            <div class="level-right">
            </div>
        </nav>
    </div>
</article>


</body>
</html>